<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GradesDB" providerName="System.Data.SqlClient" connectionString="Server=797c8243-eda5-40a4-be60-a55d00e5f584.sqlserver.sequelizer.com;Database=db797c8243eda540a4be60a55d00e5f584;User ID=yziqrhttuysegqzq;Password=Aw6HkrGAsDcSErwsVDoCR8QDUffbVj27UvF23VKNw3tkocpEJzwTyA6BPAVemEMh;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>
