@{ Layout = "layout/Layout.cshtml"; }

<div class="container">
    <form method="POST" action="/" name="Grades">
        <div class="row">
            <h2>
                <small>Hur roligt har du haft det?</small>
            </h2>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn disabled">
                            Lägst
                        </label>
                        @for (int i = 1; i <= 8; i++)
                        {
                            <label class="btn btn-default">
                                <input type="radio" class="form-control" value="@i" name="First" required="required" /> @i
                            </label>
                        }
                        <label class="btn disabled">
                            Högst
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2>
                <small>Hur nöjd är du med teamets samarbete och förmåga att arbeta tillsammans?</small>
            </h2>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn disabled">
                            Lägst
                        </label>
                        @for (int i = 1; i <= 8; i++)
                        {
                            <label class="btn btn-default">
                                <input type="radio" class="form-control" value="@i" name="Second" required="required" /> @i
                            </label>
                        }
                        <label class="btn disabled">
                            Högst
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <input class="btn btn-success" type="submit" value="Betygsätt" />
        </div>
    </form>
</div>
