<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="/Content/styles.css" type="text/css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta charset="UTF-8" />
    <title>GradeIt - Select your team</title>
</head>
<body>
    <div class="container">
        <div id="app">
            <div class="jumbotron text-center">
                <h1>Select your team</h1>
                <div class="row">
                    <a v-for="team in teams" href="/{{team}}" class="btn btn-info btn-lg team-button" role="button">{{team}}</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                teams: []
            }
        });

        function getTeams() {
            $.getJSON("/teams/", function (json) {
                vm.teams = json;
            });
        }

        getTeams();
    </script>
</body>
</html>
